---
title: Epic Entertainment | Specials And Packages
description: >- 
   EPIC Entertainment has a wide range of prices and packages for an outdoor recreation center offering family friendl fun for all ages in Lafayette Louisiana.
keywords: >- 
   Epic, Entertainment, Game Center, Gyrocscope, Lafayette, Epic Entertainment, attractions, Games, Zipline,  gyroscope alien invasion, Archery, Bungie Trampoline, connect 4, Hoop, Rope Quest, Tee Ball, Thunder Roll, Zero Shock,Toddlers, Tennagers, adults
layout: default
pagename: pricing
---

    <div class="inner-banner about-page"><img src="styles/assets/img/Activities/grove-gardians.jpg"
                                              alt="Epic Entertainment Zipline Lafayette" style="object-fit: cover;top:0"/>
        <div class="orbit-caption wow " data-wow-duration="1s">
            <div class="row">
                <div class="wc-rectangle ">
                    <h2 class="editable" style="font-size: 52px; color:#6ff44a; line-height:350%">Pricing</h2>
                </div>
            </div>
        </div>
    </div>
    <!--end section slider-->
    <!-- Page content start -->
    <section class="bg-white">
        <div class="row">
            <div class="extreme-sports">
                <div class="label-6 medium-5 columns wow bounceInLeft" data-wow-duration="1s">
                    <figure><img src="styles/assets/img/Activities/leapoffaith.jpg" class="editable" style="width: 80%" alt="Park"></figure>
                </div>
                <div class="label-6 medium-7 columns wow bounceInRight" data-wow-duration="1s">
                    <div class="block-extreme">
                        <h2 class="h1-heading editable">Admission is <span style="font-size: 62px">Free</span></h2>
                        <br/>
                        <h6 class="editable">EPIC Cards with Bonus Bucks</h6>
                        <ul class="editable">
                            <li class="editable">20.00 card 2.00 Bonus Bucks = 22.00</li>
                            <li class="editable">40.00 card 6.00 Bonus Bucks = 46.00</li>
                            <li class="editable">50.00 card 10.00 Bonus Bucks = 60.00</li>
                            <li class="editable">100.00 card 30.00 Bonus Bucks = 130.00 (Best Value)</li>
                        </ul>
                        <p class="editable">
                            We can split the amount purchased plus the Bonus Bucks onto multiple cards
                        </p>
                        <p class="editable">Laser Tag $7.00</p>
                        <p class="editable">Spider Climb and Zero Shock Trampoline 2.50ea
                            Arcades 1.00 - 2.00ea</p>
                        <p class="editable">Clip N Climb (15 Climbing Challenges) 6.50</p>
                        <p class="editable">Hologate Virtual Reality 6.75</p>
                        <p class="editable">Playland $8.00 All Day Pass</p>
                        <p class="editable">Bungee Trampoline $2.50</p>
                        <p class="editable">Spider Climb $2.50</p>
                        <p class="editable">Trampoline into an Air Bag $2.50</p>
                        <p class="editable">Toddlers Play 3.00 Unlimited</p>
                        <p class="editable"><em style="color: red">Play land Includes: Indoor Playground, Fun Jumps, Tee Ball, Archery, Hoops, & Connect 4.</em></p>

                        <a href="Epic-Entertainment-faqs.html" class="button small split editable">FAQs
                            <span class="black">
			                            	<em class="fa fa-angle-right">&nbsp;</em>
			                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="columns medium-12">
            <hr>
        </div>
         {% if site.data.monthly_special.enabled == 'true' %}
        <div class="row">
            <div class="large-12 medium-12 small-12 columns features_content">
                <div class="features_content_area">
                    <!--start Events -->
                    <div id="events" class="all-event">
                        <h3 class="editable">EPIC Entertainment Monthly Specials</h3>
                        <p class="editable">Check out all the EPIC specials and promotions that are currently happening! </p>

                        <div class="row">
                            <div class="large-8 medium-8 small-12 columns features_content">
                                <div class="event-items">
                                    </div>
                                </div>
                            </div>
                            <div class="large-4 medium-4 small-12 columns features_content" style="padding-bottom:30px">
                              {% for item in site.data.monthly_special %}
                            <a href="{{item.image}}" target="_blank"><img
                             src="{{item.image}}" border="0"
                             alt=""/></a>
                             {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          {% else %}
        {% endif %}
    </section>


    <section class="our-adrenaline">
        <div class="row wow pulse" data-wow-duration="4s">
            <div class="large-12 columns">
                <h1 style="font-size: 30px" class="h2-heading wow bounceInDown editable" data-wow-duration="4s"><span>EPIC Entertainment</span> Ticket Pricing for our attractions</h1>
                <p class="editable">Everyone from toddlers to adults are sure to enjoy everything that EPIC Entertainment has to offer!
                    <br/> Safety Waivers are required for specific attractions. Fill out one ahead of time. </p>
                <br/> <a href="epic-entertainment-safety-waiver.html" class="button small split editable">Safety
                Waiver<span
                        class="black"><em class="fa fa-angle-right">&nbsp;</em></span></a></div>
        </div>
    </section>
    <section class="team_member">
        <div class="row">
            <div class="large-12 columns">&nbsp;</div>
            <div class="team-content">
              
                <div class="large-4 medium-4 small-6 columns">

                    <div class="team-detail">
                    
                            <figure class="" data-wow-duration="4s"><img src="styles/assets/img/Activities/IMG_3232.JPG"
                                                                         alt="Epic Entertainment - Archery"
                                                                         style="height: 280px !important">
                                {% comment %}<div class="ch-info"></div>{% endcomment %}
                            </figure>
                        
                        <h6 class="editable">Archery</h6>
                        <div class="editable">Whether you have been shooting for years or have never picked up a bow, the...</div>
          
                        
                    </div>
                </div>
                <div class="large-4 medium-4 small-6 columns">

                    <div class="team-detail">
                            <figure class="" data-wow-duration="4s"><img src="styles/NewGallery/IMG_3126.JPG"
                                                                         alt="Epic Entertainment - Clip N Climb"
                                                                         style="height: 280px !important">
                                {% comment %}<div class="ch-info"></div>{% endcomment %}
                            </figure>
                   
                        <h6 class="editable">Clip N Climb</h6>
                        <div class="editable">A fresh take on the world of traditional climbing, Clip ’n Climb® provides visitors with...</div>
                      
                    </div>
                </div>
       
                <div class="large-4 medium-4 small-6 columns">

                    <div class="team-detail">
                       
                            <figure class="" data-wow-duration="4s"><img src="styles/NewGallery/IMG_3081.JPG"
                                                                         alt="Epic Entertainment - Hologate"
                                                                         style="height: 280px !important">
                                {% comment %}<div class="ch-info"></div>{% endcomment %}
                            </figure>
                      
                        <h6 class="editable">Hologate</h6>
                       <div class="editable"> Hologate is an award winning 4 person interactive virtual reality attraction that takes gaming</div>
                        to...
                        <br/>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

