   <div class="primary_navigation">
   <div class="row">
	   <nav class="top-bar" data-topbar role="navigation">
			<ul class="title-area">
				<li class="name">
					<a href="/">
						<img src="{{ site.data.company_details.logo_image }}" alt="Epic Entertainment Logo" style="margin: 0">
					</a>
				</li>
				<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
				<li class="toggle-topbar">
					<a href="#">
						<span>
							<img src="styles/hamburger.png" style="width: 8%">
						</span>
					</a>
				</li>
			</ul>
			<section class="top-bar-section">
				<!-- Right Nav Section -->
				<ul>
					<li>
						<a href="/" target="">Home</a>
						<ul class="dropdown"></ul>
					</li>
					<li>
						<a href="Epic-Entertainment-Attractions.html" target="">Attractions</a>
						<ul class="dropdown"></ul>
					</li>
				   
					<li class="has-dropdown">
						<a href="pricing-Epic-Entertainment.html" target="">Pricing</a>
						<ul class="dropdown"></ul>
					</li>
					<li>
						<a href="parties.html" target="">Parties</a>
						<ul class="dropdown"></ul>
					</li>
					<li>
						<a href="Epic-Entertainment-faqs.html" target="">FAQs</a>
						<ul class="dropdown"></ul>
					</li>
					<li>
						<a href="epic-entertainment-safety-waiver.html" target="">Safety Waiver</a>
						<ul class="dropdown"></ul>
					</li>
					<li>
						<a href="https://epicfec.centeredgeonline.com/retail" target="_blank">Purchase Play Cards</a>
						<ul class="dropdown"></ul>
					</li>
					<li class="has-dropdown">
						<a href="contact-Epic-Entertainment.html" target="">
							Contact &nbsp; 
							<span style="font-size:7px!important">&#9660;</span>
						</a>
						<ul class="dropdown">
							<li>
								<a href="Employment-Epic-Entertainment.html" target="">Employment</a>
								<ul class="dropdown"></ul>
							</li>
						</ul>
					</li>
				</ul>
				<!-- Left Nav Section -->

			</section>
		
		</nav>
	
	</div>
</div>