<!-- footer  --> 
<script src="styles/assets/js/vendor/jquery.js"></script> 
<script src="styles/assets/js/foundation.min.js"></script>
<script>
	  $(document).foundation();
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/3.2.5/javascripts/jquery.foundation.reveal.js"></script>
<script src="styles/assets/js/slick.min.js"></script>
<script src="styles/assets/js/jquery.tinycircleslider.js"></script> 
<script src="styles/assets/js/jquery.colorbox.js"></script> 
<script src="styles/assets/js/nicescroll.js"></script> 
<script src="styles/assets/js/filterable.pack.js"></script> 
<script src="styles/assets/js/wow.js"></script> 
<script src="styles/assets/js/jquery.counterup.js"></script> 
<script src="styles/assets/js/main.js"></script> 
<script src="styles/assets/js/scripts.js"></script>
<script src="styles/assets/js/cart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>


<script type="text/javascript" src ="styles/assets/plugins/rev-slider/rev-slider.js"></script>





<!-- include scripts -->

		<!-- Modal -->
		<a href="#" data-reveal-id="NotificationModal" style="display:none">Click Me For A Modal</a>

		<div id="NotificationModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
			 role="dialog">

			<h4>Hours</h4>
			<li>Monday-Thursday - Closed</li>
			<li>Friday 5pm - 9pm</li>
			<li>Saturday 11am - 10pm</li>
			<li>Sunday 12pm - 6pm</li>
			<a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div>
{% if page.pagename == 'home' %}
		<script>
			$(document).ready(function () {
				$('#NotificationModal').foundation('reveal', 'open');
			});
		</script>

{% endif %}